<div id="<%= dom_id enrollment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= enrollment.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= enrollment.course_id %>
  </p>

</div>
