<div id="<%= dom_id test %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= test.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lesson:</strong>
    <%= test.lesson_id %>
  </p>

</div>
